<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Estación Climática</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lecturas Recientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let lectura of lecturas">
      <ion-card-header>
        <ion-card-title>📅 {{ formatearFecha(lectura.fechaHoraLectura) }}</ion-card-title>
        <ion-card-subtitle>ID: {{ lectura.id }}</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item>
          <ion-label>🌧 Lluvia:</ion-label>
          <ion-badge color="{{ lectura.sensorLLuvia ? 'danger' : 'success' }}">
            {{ lectura.sensorLLuvia ? 'Sí' : 'No' }}
          </ion-badge>
        </ion-item>

        <ion-item>
          <ion-label>🫁 CO:</ion-label>
          <ion-badge color="warning">{{ lectura.sensorCO }} ppm</ion-badge>
        </ion-item>

        <ion-item>
          <ion-label>🌡 Temperatura:</ion-label>
          <ion-badge color="primary">{{ lectura.sensorTemperatura }}°C</ion-badge>
        </ion-item>

        <ion-item>
          <ion-label>💧 Humedad:</ion-label>
          <ion-badge color="secondary">{{ lectura.sensorHumedad }}%</ion-badge>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
